# Folders
__pycache__/
build/
*.egg-info
.idea/
/detector/yolov3_ultralytics/runs/
/demo/
/Logs/
/.idea/
/detector/yolov3_ultralytics/weights/
/segmentor/pytorch_deeplab/weights/

# Files
*.weights
*.t7
*.mp4
*.avi
*.so
*.mpeg
*.pt
*.pth

