DEEPSORT:
  PERSON_REID_CKPT: "deep_sort/deep/checkpoint/persons_128x64.t7"
  VEHICLE_REID_CKPT: "deep_sort/deep/checkpoint/vehicles_128x128.t7"
  MAX_DIST: 0.2  # distance between features of detections to be considered same object
  MIN_CONFIDENCE: 0.2
  NMS_MAX_OVERLAP: 0.4  # non max suppression between near objects
  MAX_IOU_DISTANCE: 10   # distance in term of IOU distance between detections of same object
  MAX_AGE: 70           # tracks that exceed this frame number without successfull association of measurement have left scene
  N_INIT: 10           # number of frames to init a track
  NN_BUDGET: 300        # number of associated appearances descriptors on each track

NUM_CPU_CORES: 1

CLS_DICT:
  '0': 'person'
  '2': 'car'
  '7': 'car'

YOLOV3:
  BACKBONE: "ultralytics"
  CFG: "detector/yolov3_ultralytics/cfg/yolov3.cfg"
  WEIGHT: "detector/yolov3_ultralytics/weights/yolov3.pt"
  CLASS_NAMES: "detector/yolov3_ultralytics/data/coco.names"

  SCORE_THRESH: 0.2
  NMS_THRESH: 0.5

CAMERA2IMU_DIST: [[0], [1.7], [0]]